<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>@localhost
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item{% if app.request.attributes.get('_route') == 'homepage' %} active {% endif %}">
                <a class="nav-link" href={{ path ('homepage')}}> {{ 'NAV.HOME'| trans }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') == 'terms_of_service' %} active {% endif %}">
                <a class="nav-link" href={{ path('terms_of_service') }}>{{ 'NAV.TERMS'| trans }}</a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') == 'app_login' %} active {% endif %}">
                <a class="nav-link" href={{ path('app_login') }}>{{ 'NAV.LOGIN' | trans }}</a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') == 'app_register' %} active {% endif %}">
                <a class="nav-link " href={{ 'register' }}>{{ 'NAV.REGISTER' | trans  }}</a>
            </li>
        </ul>
    </div>
</nav>